#banner {
  height: 360px;
  object-fit: cover;
  width: 100%;
}

* {
  font-family: "Jetbrains Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: medium;
  color: #ECF2F8;
}

a:link {
  color: #8fbcbb;;
}

a:visited {
  color: #8fbcbb;
}

p {
  margin-bottom: 0px;
}

.responsive-image {
  width: 150px;
}

@media (min-width: 768px) {
  .responsive-image {
    width: 220px;
    /* Adjust this value to reduce the image size for wider screens */
  }
}

.social {
  list-style-type: none;
}

.social a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #21262d;
}

nav li a {
  text-decoration: none;
  font-size: smaller;
}

nav li {
  list-style-type: none;
}
