#banner {
  height: 360px;
  object-fit: cover;
  width: 100%;
}

* {
  font-family: "Jetbrains Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: medium;
  color: #ECF2F8;
}

a:link {
  color: #77BDFB;
}

a:visited {
  color: #A2D2FB;
}

.courier-prime-bold {
  font-weight: bold;
  font-style: medium;
}

.courier-prime-regular-italic {
  font-weight: bold;
  font-style: italic;
  font-size: medium;
}

.courier-prime-bold-italic {
  font-weight: bold;
  font-style: italic;
  font-size: medium;
}

p {
  margin-bottom: 0px;
}

.responsive-image {
  width: 150px;
}

@media (min-width: 768px) {
  .responsive-image {
    width: 220px;
    /* Adjust this value to reduce the image size for wider screens */
  }
}

.github-chart {
  width: 100%;
}

@media (min-width: 768px) {
  .github-chart {
    width: 80%;
    /* Adjust this value to reduce the image size for wider screens */
  }
}

.social {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.social a {
  text-decoration: none;
}
