<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="6BI7bb7Q_UktX_fCUALtewfC261uWg1G80kMRs2s28c" />
  <!-- Primary Meta Tags -->
  <title>Edit Projects - Alok Shandilya</title>
  <meta name="description" content="Edit Projects for Alok Shandilya's Portfolio.">
  <meta name="author" content="Alok Shandilya">
  <meta name="keywords" content="alokshandilya, edit projects, alok shandilya edit projects">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Edit Projects - Alok Shandilya Portfolio">
  <meta property="og:description" content="Edit Projects for Alok Shandilya's Portfolio.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://alokshandilya.vercel.app">
  <meta property="og:image" content="https://alokshandilya.vercel.app/static/images/logo.png">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Edit Projects - Alok Shandilya Portfolio">
  <meta name="twitter:description" content="Edit Projects for Alok Shandilya's Portfolio.">
  <meta name="twitter:image" content="https://alokshandilya.vercel.app/static/images/logo.png">

  <!-- Favicon -->
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!--  google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet">

  <!-- CodeMirror -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material-darker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
</head>

<body style="background-color: #0D1117;">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <header class="container container-fluid">
    <h1 class="mt-4 mb-2 fw-bold" style="color: #77BDFB;">Edit Projects</h1>
    <hr class="mt-0 mb-4">
  </header>

  <main class="container container-fluid">
    <form id="edit-projects-form" action="/api/projects" method="post">
      <div class="mb-3">
        <label for="json_data" class="form-label" style="color: #77BDFB;">Projects JSON Data</label>
        <textarea name="json_data" id="json_data" class="form-control" rows="20" style="display: none;">{{ json_data
          }}</textarea>
        <div id="editor" style="background-color: #21262D; color: #C9D1D9;"></div>
        <small class="form-text text-muted" style="color: #C9D1D9;">Ensure your JSON is correctly formatted.</small>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </main>

  <footer class="container container-fluid mt-4">
    <hr>
    <p class="text-center" style="color: #89929B;">&copy; 2023 Alok Shandilya. All rights reserved.</p>
  </footer>

  <script>
    // Initialize CodeMirror
    var editor = CodeMirror(document.getElementById("editor"), {
      lineNumbers: true,
      mode: "application/json",
      theme: "material-darker",
      viewportMargin: Infinity  // this makes CodeMirror fit its content height
    });

    // Set initial content of the editor
    editor.setValue(document.getElementById("json_data").value);

    // Real-time validation
    document.getElementById("edit-projects-form").addEventListener("submit", function (e) {
      var jsonData = editor.getValue();
      try {
        JSON.parse(jsonData);
        document.getElementById("json_data").value = jsonData;
      } catch (error) {
        e.preventDefault();
        alert("Invalid JSON data: " + error.message);
      }
    });
  </script>
</body>

</html>
