<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="6BI7bb7Q_UktX_fCUALtewfC261uWg1G80kMRs2s28c" />
  <!-- Primary Meta Tags -->
  <title>Alok Shandilya</title>
  <meta name="description" content="Alok Shandilya Portfolio, part of personal project to mark my presence on web.">
  <meta name="author" content="Alok Shandilya">
  <meta name="keywords"
    content="alokshandilya, alokshandilya vercel, alok shandilya vercel, alok shandilya portfolio, alokshandilya portfolio, Alok Shandilya, Alok Shandilya vercel, Alok Shandilya Portfolio">
  <link rel="canonical" href="https://alokshandilya.vercel.app">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Alok Shandilya Portfolio Website">
  <meta property="og:description"
    content="Alok Shandilya Portfolio, part of personal project to mark my presence on web.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://alokshandilya.vercel.app">
  <meta property="og:image" content="https://alokshandilya.vercel.app/static/images/logo.png">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Alok Shandilya Portfolio Website">
  <meta name="twitter:description"
    content="Alok Shandilya Portfolio, part of personal project to mark my presence on web.">
  <meta name="twitter:image" content="https://alokshandilya.vercel.app/static/images/logo.png">

  <!-- Favicon -->
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!--  google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
</head>

<body style="background-color: #0D1117;">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <header class="container container-fluid">
    <img src="static/images/my-pic.jpeg" alt="Alok's Image"
      class="rounded-circle img-fluid img-thumbnail mx-auto responsive-image" style="float: right; margin: 1em;">
    <h1 class="mt-4 courier-prime-bold mb-0" style="color: #77BDFB;">Alok Shandilya</h1>
    <hr class="mt-1 mb-4">
    <p class="me-4 p-2" style="background-color: #21262D;">👋 I am a python, django, flask developer and a machine
      learning
      enthusiast, who is
      passionate about solving complex problems with code.
      Always open for collaborations!
    </p>
    <p class="mb-4">View My resume: <a href="https://bit.ly/alokshandilya" target="_blank">alok_shandilya_resume.pdf</a>
    </p>
    <hr>
    <img
      src="https://github-readme-activity-graph.vercel.app/graph?username=alokshandilya&theme=github-compact&radius=16&hide_border=true&area=true"
      alt="GitHub Chart" class="mb-4 img-fluid github-chart" />
  </header>

  <section id="github-stats" class="container container-fluid">
    <div class="row justify-content">
      <div class="col-md-6">
        <div class="card">
          <img
            src="https://github-readme-stats.vercel.app/api?username=alokshandilya&show_icons=true&theme=github_dark&rank_icon=github"
            class="card-img-top" alt="Overall GitHub Stats">
          <div class="card-body">
            <h5 class="card-title courier-prime-bold-italic">GitHub Stats</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="card">
          <img src="http://github-readme-streak-stats.herokuapp.com?user=alokshandilya&theme=github_dark"
            class="card-img-top" alt="GitHub Streak">
          <div class="card-body">
            <h5 class="card-title courier-prime-bold-italic">GitHub Streak</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main>
    <section class="container">
      <h2 class="mt-4 mb-3 courier-prime-bold" style="color: #77BDFB">Projects</h2>
      <div>
        {% include 'projectitem.html' %}
      </div>
    </section>

    <!-- <section class="container">
      <h2 class="mt-4 mb-4 courier-prime-bold">Experience</h2>
      <p>TODO - experience section</p>
    </section> -->
  </main>

  <section class="container">
    <h2 class="mt-4 mb-2 courier-prime-bold" style="color: #77BDFB">Connect with me</h2>
    <ul>
      <li><i style="color: #89929B;" class="fab fa-github mr-5">: </i><a href="https://github.com/alokshandilya"
          target="_blank">GitHub</a></li>
      <li><i style="color: #89929B;" class="fab fa-linkedin mr-5">: </i><a href="https://linkedin.com/in/alokshandilya"
          target="_blank">LinkedIn</a></li>
    </ul>
  </section>
  {% include 'footer.html' %}
</body>

</html>
