<div class="border-bottom">
    <ul>
        {% for project in projects %}
            <li><h4 class="courier-prime-bold" style="display: inline;">{{project.name}}</h4><p class="courier-prime-regular-italic" style="display: inline;"> | 
                {% for tech in project.tech_stack %}
                    {{tech}}{% if not loop.last %}, {% endif %}
                {% endfor %}</p></li>
                <ul>
                    <li><p>{{project.description}}</p></li>
                </ul>
        {% endfor %}
    </ul>
</div>