<div class="border-bottom">
  <ul>
    {% for project in projects %}
    <li>
      <h5 class="courier-prime-bold" style="display: inline; color: #8fbcbb;">{{project.name}}</h5>
      <p class="courier-prime-regular-italic" style="display: inline; color: #a3be8c;"> |
        {% for tech in project.tech_stack %}
        {{tech}}{% if not loop.last %}, {% endif %}
        {% endfor %}</p>
      <p class="mb-2 mt-2">{{project.description}}</p>
      <p class="mb-2"><a href="{{project.source_code}}" target="_blank">Source Code</a></p>
      <p class="mb-4"><a href="{{project.deployment_link}}" target="_blank">Deployment Link</a></p>
      {% endfor %}
  </ul>
</div>
